header-hotels {
   
}

// .filterButton {
//     position: relative;
//     display: none;
//     flex-direction: column;
//     justify-content: end;
//     align-items: flex-end;
//     z-index: 1000;
// }


.findButton {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}